body {
\*min-height:600;*\
font-family: sans; arial; courier; sans-serif;
background:#D8F6CE;
clear:both;
}

.hdr { position:relative;
       background:#BCF5A9; 
       font-family:sans;
       text-align:right;
       min-height:50px;
       } 

.login {position:absolute;
       background:#BCF5A9;
       font-family:sans;
       text-align:center;
       min-height:60%;
       min-width:99%;  
         } 

.content { float:left;
           }

.footer { position:absolute;
          bottom:0;
          width:89%;
          margin-left:5%;
          text-align:center;
          color:#298A08;
          font-size:x-small;
          } 


.wishwrap {float:left;
            padding:5px;
            font-size:x-small;
            text-align:center;
            }

.wish-h {float:top}

.wish-v {float:top;}


.error { position:absolute;
         z-index: 5;
         text-align:center;
         min-width:300px;
         background:#FA5858;
         padding:10px;
         border-radius:10px;
         font-family:sans;
  }

.login-wr { position:relative;
            margin-top:13%;
            background:#9AFE2E;
            padding:10px;
            border-radius:10px;
            font-family:sans;
            text-align:left;
            }
.add {float:left;
       padding:10px;
       } 