{% extends 'base.html' %}

{% block title %}{{ page_name }}{% endblock %}
{% block content %}
<a href='/{{ back }}'>Отменить</a>
<form action='' method="POST">
{% for field in form %}
    <div>
      {% if field.label != "Пользователь" %} 
          <label for="{{ field.auto_id }}">{% if field.field.required %}<b>{% endif %}{{ field.label_tag }}{% if field.field.required %}</b>{% endif %}
          {% if field.label == "Оборудование" %}<a href=/addstuff>[Добавить новое]</a>{% endif %}
          </label>
          {{ field }}
          </div>
      {% else %}
	  <div style='display:none'><input type="hidden" name='user' id='id_user' value='{{ user.id }}'></div>
      {% endif %}	  
{% endfor %}

{% csrf_token %}
<input type='submit' value='Добавить'>
</form>
{% endblock %}
