<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body>

{% if user %}
Здрасте, {{ user.username }}!
{% endif %}

{% if user.is_authenticated %}
<a href='/logout'>[logout]</a>
{% endif %}

{% block title %}
<h1> {{ page_name }}</h1>
{% endblock %}

{% block content %}
<p>{{ content }}<p>
{% endblock %}

<ul>
  {% for item in wishes %}
  <li>
  Я хочу
  {{ item.stuff.name_rus }}, 
  {{ item.pieces }} x {{item.stuff.package }} по цене {{ item.price_man }} {{ item.currency_man }}, на сумму {{ item.total }} {{ item.currency_man }}
  {{ item.order_date|date:'d/m/y' }}, {% if item.urgent %} Срочно!{% endif %}
  {{ item.get_status_display }} {% if user.is_staff %} Править {% endif %}</li>
  {% endfor %}
  
  {% for item in other_wishes %}
    <li>
    Кто-то хочет
    {{ item.stuff.name_rus }},
    {{ item.pieces }} x {{item.stuff.package }} по цене {{ item.price_man }} {{ item.currency_man }}, на сумму {{ item.total }} {{ item.currency_man }}
    {{ item.order_date|date:'d/m/y' }}, {% if item.urgent %} Срочно!{% endif %}
    {{ item.get_status_display }} {% if user.is_staff %} Править {% endif %}</li>
    {% endfor %}
</ul>

{% block footer %}
<hr>This is a footer
{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Tue Oct 11 15:09:38 MSK 2011 <!-- hhmts end -->
</body> </html>
