<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body>

{% block title %}
<h1> {{ page_name }}</h1>
{% endblock %}

{% block content %}
<p>{{ content }}<p>
{% endblock %}

{% for item in stuff %}
<li>{{ item.name_rus }}, {{ item.name_exact }}, {{ item.manuf }} </li>
{% endfor %}

{% block footer %}
<hr>This is a footer
{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Tue Oct  4 14:58:28 MSD 2011 <!-- hhmts end -->
</body> </html>
