<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<title>Laborders</title>
</head>
<body>

<!--
<div class='fl_left'> 
  <img src='/static/picts/pigeon.png'>
</div>
-->

{% if user %}
Здрасте, {{ user.username }}!
{% endif %}

{% if user.is_authenticated %}
<a href='/logout'>[logout]</a>
{% endif %}

{% block title %}
<h1> {{ page_name }}</h1>
{% endblock %}

{% block content %}
<p>{{ content }}<p>
{% endblock %}

<div class='footer'>
{% block footer %}
<hr>This is a footer
{% endblock %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Mon Oct 31 21:10:38 MSK 2011 <!-- hhmts end -->
</div>
</body> </html>
