{% extends "base.html" %}

{% block content %}

{% if status %}
   <p>Запись {{ status }}</p>
{% endif %}

{% if back %}
<a href='/'>Назад</a>
{% endif %}

{% if user.is_authenticated %}
<p><a href='/new'>Добавить</a></p>
{% endif %}

<p>
<form action="" method='post'>{% csrf_token %}
<input type='text' name='search'></input>
<input type='submit' value='Найти'>
</form>
</p>

<br>




{% if user.is_authenticated %}
<table>
    <tr align='right'>
      <td>Имя пользователя</td>
      <td>Заказ</td>
      <td>Количество</td>
      <td>Фасовка</td>
      <td>Цена за ед.</td>
      <td>Всего</td>
      <td>Дата заказа</td>
      <td>Срочность</td>
      <td>Статус</td>
      <td></td>
    </tr>
							
  {% for item in wishes %}
  <tr align='right'>
    <td>{% if user.username == item.user.username %} {{ item.user.username }} {% else %} {% if user.is_staff %} {{ item.user.username }} {% endif %} {% endif %}</td>
    <td>{{ item.stuff.name_rus }} </td>
    <td><a href="#">{{ item.pieces }}<span>&lt;{{ item.pieces }}, &gt;{{ item.pieces }}, ={{ item.pieces }} </span></a></td>
    <td>{{item.stuff.package }}</td>
    <td>{{ item.price_man }} {{ item.currency_man }}</td>
    <td>{{ item.total }} {{ item.currency_man }}</td>
    <td>{{ item.order_date|date:'d/m/y' }}</td>
    <td>{% if item.urgent %} Срочно!{% endif %}</td>
    <td><a href="#">{{ item.get_status_display }}<span>что-то там</span></a></td>
    <td>{% if user == item.user or user.is_staff %} <a href='/edit/{{ item.id }}'>Править</a>{% endif %}</td>
    <td>{% if user == item.user or user.is_staff %} <a href='/delete/{{ item.id }}'>Удалить</a>{% endif %}</td>
  </tr>
  {% endfor %}
  
  {% for item in other_wishes %}
  <tr align='right'>
    <td>{% if user.is_staff %} {{ item.user.username }} {% endif %}</td>
    <td>{{ item.stuff.name_rus }}</td>
    <td>{{ item.pieces }}</td>
    <td>{{item.stuff.package }}</td>
    <td>{{ item.price_man }} {{ item.currency_man }}</td>
    <td>{{ item.total }} {{ item.currency_man }}</td>
    <td>{{ item.order_date|date:'d/m/y' }}</td>
    <td>{% if item.urgent %} Срочно!{% endif %}</td>
    <td>{{ item.get_status_display }}</td>
    <td>{% if user.is_staff %} <a href='/edit/{{ item.id }}'>Править</a>{% endif %}</td>
    <td>{% if user.is_staff %} <a href='/delete/{{ item.id }}'>Удалить</a>{% endif %}</td>
  </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
